<% if user_signed_in? && !(current_user.id == item.user.id) %>
      <% if current_user.favorites.find_by(item_id: item.id) %>
                  <div class='star-btn'>
                  
                <%= button_to 'お気に入り解除', item_favorites_path(item,item.favorites), method: :delete, remote: true, class: "btn-gradient-unradius" %>
                <%= link_to item_favorites_path(item.id) do %>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= item.favorites.count %></span>
                
                <% end %>
                </div>
      <% else %>
                <div class='star-btn'>
                
                <%= button_to 'お気に入り登録', item_favorites_path(item,item.favorites) , method: :post, remote: true , class: "btn-gradient-radius" %>
     <%= link_to item_favorites_path(item.id) do %>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'><%= item.favorites.count %></span>
                
                <% end %>
     </div>
      <% end %>
<% else %>
<div class='star-btn'>
  <%= link_to item_favorites_path(item.id) do %>
  <%= image_tag "star.png", class:"star-icon"  %>
  <span class='star-count'><%= item.favorites.count %></span>
  </div>
  <% end %>
<% end %>