<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    
    <%= form_with(url: search_item_path(:id), local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "商品名・商品説明のキーワードで探す", class: "input-box" %>
    <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <%= form.submit "詳細検索ページへ", class: "search-btn" %>
    <% end %>
  
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', categories_path, class: "category-list" %></li>
      <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    </ul>
    <div class='lists-right'>
      <% if user_signed_in? %>
            <div class="user_nav" id="lists"><span class="user-nickname"><%= current_user.nickname %></span> さん <%= image_tag "arrow_top.png" ,class:"comment-flag-icon" ,width:"17",height:"17"%></span>
            <ul class="user-lists hidden", id="pull-down">
              <li><%= link_to 'マイページ', "/users/#{current_user.id}", {class: "pull-down-list"} %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "pull-down-list" %></li>
              <li><%= link_to 'ユーザー情報編集', edit_user_registration_path, method: :get, class: "pull-down-list" %></li>
            </ul>
        <% else %>
          <div class="no-login">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
     </div>
  </div>
</header>