<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header' >
  <div class='search-bar-contents' id="category-search-no-area">
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    
  </div>

  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to  categories_path, id: "category-lists", class: "category-list" do %>
          カテゴリー<br> から探す
          
       <% end %></li>
       
      <li><%= link_to  "#", class: "brand-list" do %>
      ブランド<br> から探す
      <% end %></li>
    </ul>
    <%= form_with(url: items_search_path, local: true, method: :get) do |form| %>
    
    <%= form.submit "詳細検索ページへ", class: "btn-change-label" %>
   
      <% end %>
    
  
  <div class='lists-right'>
      <% if user_signed_in? %>
          <div class="ham" id="ham">
            <span class="ham_line ham_line1"></span>
            <span class="ham_line ham_line2"></span>
            <span class="ham_line ham_line3"></span>

            <div class="menu_wrapper" id="menu_wrapper">
	            <div class="menu">
                  <ul>  
                    <li><%= link_to 'マイページ', "/users/#{current_user.id}", {class: "pull-down-list"} %></li>
                    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "pull-down-list" %></li>
                    <li><%= link_to 'ユーザー情報編集', edit_user_registration_path, method: :get, class: "pull-down-list" %></li>
                  </ul>
              </div>
            </div>

          </div>
                  <div class="user_nav"><span class="user-nickname"><%= current_user.nickname %></span> さん </div>

</div>

        <% else %>
          <div class="no-login">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "ユーザー登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
    </div>

  </div>
</div>



</header>

<script>
  const ham = document.getElementById('ham');
const menu_wrapper = document.getElementById('menu_wrapper');
ham.addEventListener('click', function() {
	ham.classList.toggle('clicked');
	menu_wrapper.classList.toggle('clicked');
});
</script>
