<%= render "devise/shared/header" %>

<div class='item-contents'>

  <% if user_signed_in? && (current_user.id == @user.id) %>
    <h1 class='title'>ログインしている人がユーザー本人の場合この文字が表示されている。お気に入り一覧も</h1>
  <font size="6" color="red"><%= @nickname %>さんのお気に入りした商品一覧</font>
  <ul class='item-lists'>
    <% @user_favorites.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag url_for(item.images[0]) , class: "item-img" %>
              <% if item.item_transaction.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.product_name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price.to_s(:delimited) %>円<br>(税込み)</span>
                   <div class='star-btn'>
                
                   <%= image_tag "star.png", class:"star-icon" %>
                   <span class='star-count'><%= item.favorites.count %></span>
            </div>
          </div>
        <% end %>
      </li>
  </ul>
  <% end %>

    <h1 class='title'>他ユーザーの場合は自己紹介と出品商品一覧だけ表示</h1>

  自己紹介文章

  <font size="6" color="red"><%= @nickname %>さんの出品商品一覧</font>
  <ul class='item-lists'>
    <% @user_items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag url_for(item.images[0]) , class: "item-img" %>
              <% if item.item_transaction.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.product_name %>
            </h3>
            <div class='item-price'>
              <span><%= item.price.to_s(:delimited) %>円<br>(税込み)</span>
                  <div class='star-btn'>
                  <%= link_to item_favorites_path(item.id) do %>
                  <%= image_tag "star.png", class:"star-icon"  %>
                  <span class='star-count'><%= item.favorites.count %></span>
                  <% end %>
                  </div>
                  
            </div>
          </div>
        <% end %>
      </li>
  </ul>

  
</div>