<%= render "devise/shared/header" %>
<div class='main'>
<h1>
  商品検索
</h1>
<%= form_with(url: search_item_path(:id), local: true, method: :get, class: "search-form") do |form| %>
    
    <%= form.submit "検索条件を全て解除して検索し直す", class: "search-btn" %>
    
      <% end %>

<div>

<%= search_form_for @p, url: search_item_path do |f| %>
  <%= hidden_field_tag :display_number, params[:display_number] %>


  <%= f.label :product_name_cont_any , '商品名で一致するキーワード(スペースを空けると複数のキーワードを同時に検索出来ます)：' %>
  <%= f.search_field :product_name_cont_any, class: "form-control" %>
  <br>
  <%= f.label :description_cont_any , '商品説明で一致するキーワード(スペースを空けると複数のキーワードを同時に検索出来ます)：' %>
  <%= f.search_field :description_cont_any, class: "form-control" %>
  <br>
  <%= f.label :condition_id_eq, '商品の状態：' %>
    <label><input type="checkbox" id="all-condition" /> すべて選択・解除</li>
    <div id="conditionArea">

  <%= f.collection_check_boxes :condition_id_eq_any, Condition.all.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  </div>
  <br>
  <%= f.label :delivery_burden_id_eq, '配送料の負担：' %>
      <label><input type="checkbox" id="all-delivery" /> すべて選択・解除</li>

      <div id="deliveryArea">

  <%= f.collection_check_boxes :delivery_burden_id_eq_any, DeliveryBurden.all.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  </div>
  <br>
  <%= f.label :shipping_day_id_eq, '発送までの日数：' %>
  <label><input type="checkbox" id="all-shipping" /> すべて選択・解除</li>
    
    <div id="shippingArea">

  <%= f.collection_check_boxes :shipping_day_id_eq_any, ShippingDay.all.where.not(id: 0), :id, :name, include_blank: '指定なし' %>
  </div>
  <br>



  <%= f.label :category_name_eq, 'カテゴリー：' %>
  <%= f.collection_select :category_name_eq_any, @category_name, :name, :name, include_blank: '指定なし', class:"select-box1" %>

  <%#= f.collection_check_boxes :category_name_eq_any, @category_name, :name, :name, include_blank: '指定なし', class:"select-box1" %>
                  <%# <div id="ccategory_field"></div> %>
<br>
  
  <%= f.label :price, "価格：" %>
  <%= f.number_field :price_gteq ,placeholder:"片方だけの入力でもOK" %>
  <%= f.label :price, " 〜 " %>
  <%= f.number_field :price_lteq ,placeholder:"片方だけの入力でもOK" %>
  <br>
  <%= f.submit '検索' %>
  <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
  
</div>

<script>
$('#all-condition').on('change', function() {
// idがupdateAreaの子要素のcheckboxにのみチェック状態を反映
$('input[type=checkbox]', '#conditionArea').prop('checked', this.checked);
});

$('#all-delivery').on('change', function() {
// idがupdateAreaの子要素のcheckboxにのみチェック状態を反映
$('input[type=checkbox]', '#deliveryArea').prop('checked', this.checked);
});

//全選択・全解除をクリックしたとき
$('#all-shipping').on('change', function() {
//チェックしたチェックボックスの状態を他のチェックボックスに反映
$('input[type=checkbox]', '#shippingArea').prop('checked', this.checked);
});
</script>

<div>

  <br>
     検索結果の並び替え：
     <%=  f.select( :sorts, { '出品(編集)の新しい順': 'updated_at desc', '出品(編集)の古い順': 'updated_at asc', '価格の安い順': 'price asc', '価格の高い順': 'price desc','お気に入りの多い順': 'favorites_count desc' } , { selected: params[:sorts] } , { onchange: 'this.form.submit()'} ) %>

</div>
<span> 表示件数
    <%= select_tag :display_number, options_for_select([10, 20, 50, 100], params[:display_number]), :class => "form-control input-sm" , onchange: 'this.form.submit()' %>
    </span> 件


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>検索商品一覧</h2>
    検索商品 計<%= @results_all.count %>件

  <% if @results.length !=0 %>
    <ul class='item-lists'>  
    <% @results.each do |result| %>
      <li class='list'>
        <%= link_to item_path(result.id) do %>
          <div class='item-img-content'>
            <%= image_tag url_for(result.images[0]) , class: "item-img" %>
              <% if result.item_transaction.present? %>
              <div class='sold-out'>
                <span>Sold Out!!</span>
              </div>
              <% end %>
            <% end %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= result.product_name %>
            </h3>
            <div class='item-price'>
              <span><%= result.price.to_s(:delimited) %>円<br>(税込み)</span>
                  <div class='star-btn'>
                  <%= link_to item_favorites_path(result.id) do %>
                  <%= image_tag "star.png", class:"star-icon"  %>
                  <span class='star-count'><%= result.favorites.count %></span>
                  <% end %>
                  </div>
            </div>
          </div>
           </li>
    <% end %>
     
      </ul>
        

    
  <% else %>
  <div class="no-search-title">
    該当する商品はありません
  </div>
  <% end %>

  <div class="page-zone">
      <%= page_entries_info @results %>
    <%= paginate @results %>
    </div>

<% end %>
  <%# /商品一覧 %>
  
</div>
      <a href="#" class="scroll-btn">TOP</a>

<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
    <%= link_to new_item_path do %>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
</div>
<%= render "devise/shared/footer" %>