<%= render "devise/shared/header" %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>






<%# 商品の概要 %>
<!-- Swiper START -->
<div class="swiper-container">
	<!-- メイン表示部分 -->
	<div class="swiper-wrapper">
		<!-- 各スライド -->
    <% @item.images.each do |image| %>
        <div class="swiper-slide">
        <%= link_to image, "data-lightbox" => image do %>
          <%= image_tag image, class: 'item-box-img' %>
          <% if @item.item_transaction.present? %> %>
            <div class='sold-out'>
              <span>Sold Out!!</span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
	
  </div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>
</div>
<!-- Swiper END -->



<script>
document.addEventListener("turbolinks:load", function() {

var mySwiper = new Swiper('.swiper-container', {
  centeredSlides: true,
  effect: 'coverflow',
	slidesPerView: 6,
	// autoplay: {
	// 	delay: 3000,
	// 	stopOnLastSlide: false,
	// 	disableOnInteraction: false,
	// 	reverseDirection: false
	// },
	navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev'
	},
	pagination: {
		el: '.swiper-pagination',
		type: 'bullets',
		clickable: true
	}
});
});




var mySwiper1 = new Swiper('.swiper1', {
	spaceBetween: 10,
	navigation: {
		nextEl: '.next1',
		prevEl: '.prev1'
	}
});

var mySwiper2 = new Swiper('.swiper2', {
	slideToClickedSlide: true,
	controller: {
		control: mySwiper1,
		inverse: false,
		by: 'slide'
	},
	spaceBetween: 10,
	slidesPerView: 5,
	slideToClickedSlide: true
});
mySwiper1.controller.control = mySwiper2;
</script>


<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.product_name %>
    </h2>
    
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price.to_s(:delimited) %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @item.user.id %>
    <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' , data: { confirm: "【確認】出品商品を削除してもよろしいですか？" }%>
    <% end %>

    <% if (user_signed_in? && (!(@item.user.id == current_user.id))) && !@item.item_transaction.present?%>
      <%= link_to '購入画面に進む', item_item_transactions_path(@item.id), method: :get, class:"item-red-btn"%>
    <% end %>

    <div class="item-explain-box">
      <span class=item-word><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to @item.user.nickname, "/users/#{@item.user_id}" %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_burden.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.shipping_address.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_day.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      
      <div id="favorite-<%= @item.id %>">
                  <%= render 'favorites/favorite',  item: @item %>
                </div>
      
      
                
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <% if current_user %>
      <%= form_with model: [@item, @comment] do |f| %>
        <%= f.text_area :text, class:"comment-text", placeholder:"商品へのコメントを入力（ 100文字まで)", maxlength:"100" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする",class:"comment-btn"%>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"30",height:"35"%>
      <% end %>
    <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">

      <p class="comment-description">＜コメント一覧＞  ※コメント投稿者だけが自分の投稿したコメントを削除出来ます</p>
          <div id="comment-list">
            <%= render partial: 'comments/comment', collection: @comments %>
          </div>
    </div>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class='another-item'><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "devise/shared/footer" %>
