<%= render "devise/shared/header" %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>

<%= render "category_search" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.product_name %>
    </h2>

    <div class="img-frame">
    <!-- 1個目のSwiper START -->
      <!-- Swiper START -->
      <div class="upper-img">
        <div class="swiper-container swiper1">
          <!-- メイン表示部分 -->
          <div class="swiper-wrapper">
            <!-- 各スライド -->
            <% @item.images.each_with_index do |image, i| %>
              <div class="swiper-slide">
                <%= link_to image, "data-lightbox" => image do %>
                
                  <%= image_tag image , class: "slide-upper-img", alt:"商品画像" %>
                  <% if @item.item_transaction.present? %> 
                    <div class='sold-out'>
                      <span>Sold Out!!</span>
                    </div>
                  <% end %>
            
          <div class="img-num"><%= i + 1 %> / <%= @item.images.count %></div> 

            <% end %>

          </div>
        <% end %>
      </div>
    
  
		<div class="swiper-button-prev prev1"></div>
		<div class="swiper-button-next next1"></div>
    </div>
    </div>
   <!-- 1個目のSwiper END -->

  <!-- 2個目のSwiper START -->
  <div class="low-img">
    <div class="swiper-container swiper2">
      <!-- メイン表示部分 -->
      <div class="swiper-wrapper">
        <!-- 各スライド -->
        <% @item.images.each do |image| %>
          <div class="swiper-slide">
          
            <%= image_tag image , class: "slide-low-img"%>
            <% if @item.item_transaction.present? %>
              <div class='sold-out-2'>
                <span>Sold Out!!</span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- 2個目のSwiper END -->
  </div>



        <script>

        var mySwiper1 = new Swiper('.swiper1', {
          spaceBetween: 0,
          navigation: {
            nextEl: '.next1',
            prevEl: '.prev1'
          }
        });

        var mySwiper2 = new Swiper('.swiper2', {
          slideToClickedSlide: true,
          controller: {
            control: mySwiper1,
            inverse: false,
            by: 'slide'
          },
          spaceBetween: 18,
          slidesPerView: 3.5,
          centeredSlides : true,
          slideToClickedSlide: true
        });
        var mySwiper1 = new Swiper('.swiper1', {
           controller: {
               control: mySwiper2
           }
        });


        </script>
  
      
    
    <div class="item-price-box">
      <span class="item-price">
        ¥ <%= @item.price.to_s(:delimited) %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% if user_signed_in? && current_user.id == @item.user.id %>
    <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' , data: { confirm: "【確認】出品商品を削除してもよろしいですか？" }%>
    <% end %>

    <% if (user_signed_in? && (!(@item.user.id == current_user.id))) && !@item.item_transaction.present?%>
      <%= link_to '購入画面に進む', item_item_transactions_path(@item.id), method: :get, class:"item-red-btn"%>
    <% end %>

    <div class="item-explain-box">
      <span class=item-word><%= simple_format(h @item.description) %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= link_to @item.user.nickname, "/users/#{@item.user_id}" %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
            <td class="detail-value">
            <%= link_to @category_parent.name, "/categories/#{@category_parent.id}/parent" %><br>
            <%= link_to @category_child.name, "/categories/#{@category_child.id}/child" %><br>
            <%= link_to @category_grandchild.name, "/categories/#{@category_grandchild.id}/grandchild" %>
            </td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_burden.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.shipping_address.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_day.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      
      <div id="favorite-<%= @item.id %>">
                  <%= render 'favorites/favorite',  item: @item %>
      </div>
      
      
                
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

<div class="comment-box">

    <% if current_user %>
      <%= form_with model: [@item, @comment],local:true do |f| %>
        <%= f.text_area :text, class:"comment-text", placeholder:"商品へのコメントを入力（ 100文字まで)", maxlength:"100" %>
        <p class="comment-warn">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.submit "コメントする",class:"comment-btn"%>
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"30",height:"35"%>
      <% end %>
    <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    
    <div class="comments">

         <p class="comment-description">＜コメント一覧＞  ※コメント投稿者だけが自分の投稿したコメントを削除出来ます</p>

      <% @comments.each do |comment| %>
          <% if comment.parent_id.present? || comment.id.blank? %>
            <% next %>
          <% end %>
      <div id="comment-list-<%= comment.id %>">
            <div class="comment-all">
              <div class="upper-comment">
                <div class="comment-name">
                  <span><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>  さん</span>
                </div>
                  <span class="created-at"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                  <% if user_signed_in? && current_user.id == comment.user.id %>
                    <%= link_to '削除', item_comment_path(comment.item.id, comment.id),method: :delete ,class:"comment-destroy", data: { confirm: "【確認】コメントを削除してもよろしいですか？" } %>
                  <% end %>
              </div> 
              <div class="comment-textzone">
                <%= simple_format(h comment.text) %>
              </div>
          
               
              

        <div id="reply-zone-<%= comment.id %>">
          <% if comment.replies.present? %>
            <div class="reply-description">このコメントへ投稿された返信</div>
          <% end %>
            <% comment.replies.order(:created_at).each do |reply| %>
              <div class="comment-children">
                  <div class="upper-comment">
                    <div class="comment-name">
                  <span><%= link_to reply.user.nickname, "/users/#{reply.user_id}" %>  さん</span>
                    </div>
                  <span class="created-at"><%= reply.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                  <% if user_signed_in? && current_user.id == comment.user.id %>
                    <%= link_to '削除', item_comment_path(comment.item.id, reply.id),method: :delete ,class:"comment-destroy", data: { confirm: "【確認】コメントを削除してもよろしいですか？" } %>
                  <% end %>
                </div> 
                <div class="reply-textzone">
                  <%= simple_format(h reply.text) %>
                </div>
              </div>
            <% end %>
          </div>
        
        <% if current_user %>
                <%= form_with(model:[@item,@comment_reply],local:true) do |form| %>
                    <div class="row">
                      <div class="reply-area">
                            <%= form.text_area :text, class:"comment-text", placeholder:"このコメントへの返信を入力（ 100文字まで)", maxlength:"100" %>
                            <div class="reply-submit">
                      <%= image_tag "返信矢印1.png" ,class:"comment-flag-icon" ,width:"20",height:"25" %>
                      <%= form.submit "返信投稿" %>
                      </div>
                    </div>
                      
                    </div>
                      <%= form.hidden_field :parent_id, value: comment.id%>
                    
                <% end %>
              <% end  %>
      </div>
    </div>
      
  <% end %>
</div>
    </div>
  
  <div class="links">
    <% if @item.previous.present? %>
      <%= link_to "＜ 前の商品", item_path(@item.previous), class: "change-item-btn" %>
    <% end %>

    <% if @item.next.present? %>
      <%= link_to "後ろの商品 ＞", item_path(@item.next), class: "change-item-btn" %>
    <% end %>
  </div>
  <%= link_to "#{@category_grandchild.name} をもっと見る", "/categories/#{@category_grandchild.id}/grandchild" ,class:'another-item'%>


<%= render "devise/shared/footer" %>